<h1>Search Results</h1>

<ul>
  <% @results.each do |result| %>
    <li class="results">
      <h3>Name: <%= result.name %></h3>
      <p>SKU: <%= result.sku %>
      <p>Customer Average Review: <%= result.customer_average_review %>
      <p>Short Description: <%= result.short_description %>
      <p>Sale Price: <%= result.sale_price %>
      <p><%= image_tag result.image %>
    </li>

  <% end %>
</ul>
